@font-face {
    font-family: 'latoregular';
    src: url('../fuentes/lato-reg.eot');
    src: url('../fuentes/lato-reg.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/lato-reg.woff') format('woff'),
         url('../fuentes/lato-reg.ttf') format('truetype'),
         url('../fuentes/lato-reg.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fuentes/lato-lig.eot');
    src: url('../fuentes/lato-lig.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/lato-lig.woff') format('woff'),
         url('../fuentes/lato-lig.ttf') format('truetype'),
         url('../fuentes/lato-lig.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
